<nav class="main-nav">
  <div class="logo">
    <a routerLink="/">Angular MFE Demo</a>
  </div>
  <div class="nav-links">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Inicio</a
    >
    <a routerLink="/products" routerLinkActive="active">Productos</a>
    <a routerLink="/cart" routerLinkActive="active" class="cart-link">
      Carrito
      <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
    </a>
    <a routerLink="/legacy" routerLinkActive="active" class="legacy-link">
      Legacy
    </a>
  </div>
</nav>
